{% extends "layout.html" %}
{% block content %}
<h1>Channel Summarizer</h1>

<div>
  <label for="channelUrl">Enter a Channel URL or Video URL:</label>
  <input type="text" id="channelUrl" name="channelUrl"/>
  <button id="startDownloadBtn">Start Download</button>
</div>

<div id="downloadStatus"></div>
<hr />

<h2>Already Downloaded Channels</h2>
  <div id="channelList">Loading...</div>

  <hr>

  <h2>Channels with Embedded Data</h2>

  {% if channels %}
  <ul>
      {% for c in channels %}
        <li>
          <a href="/chat-channel/{{ c }}">{{ c }}</a>  <!-- Link to chat with channel -->
        </li>
      {% endfor %}
  </ul>
{% else %}
  <p>No channels with embedded data found.</p>
{%endif%}




<script src="{{ url_for('static', filename='marked.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}